body{
  background-image: url("https://avatars.mds.yandex.net/get-pdb/49816/de4fab39-e5ff-4076-913d-875991cd1ac1/orig");
  background-repeat: no-repeat;
  background-size: cover;
}

.message-body{
  color: White;
  font-weight: bold;
  font-family: verdana

}

.logo{
  position: relative;
  bottom: 200px;
}

.leftSideBar{
  position: relative;
  top: 70px;
  font-size: 40px;
}

#Hola{
  position: relative;
  bottom: 150px
}

.Rights{
  position: relative;
  bottom: 130px;
  font-weight: bold;
}
