body{
  background-image: url("https://avatars.mds.yandex.net/get-pdb/49816/de4fab39-e5ff-4076-913d-875991cd1ac1/orig");
  background-repeat: no-repeat;
  background-size: cover;
}

.message-body{
  color: White;
  font-size: 20px;
  font-weight: bold;
  font-family: verdana

}

.leftSideBar{
  position: relative;
  top: 200px;
  font-size: 40px;
}
