.prof{
  background-image: url("https://i.pinimg.com/originals/3c/fa/99/3cfa99eaae06f7afa42a0f5c8e6a8153.jpg")
}



.title1{
  font-size: 55px;
}

.bold1{
  color: white;
}


.caregiver{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.creator{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.everyperson{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.explorer{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.hero{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.innocent{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.jester{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.lover{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.magician{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.revolutionary{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.ruler{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.sage{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}
