.title1{
  font-size: 55px;
}

.bold1{
  color: white;
}


.caregiver{
  background-image: url("http://getwallpapers.com/wallpaper/full/8/c/c/29000.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.creator{
  background-image: url("https://www.photohdx.com/images/2017/05/dark-purple-abstract-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.everyperson{
  background-image: url("http://4everstatic.com/bilderse/abstrakt/orange-bakgrund-189480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.explorer{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.hero{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.innocent{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.jester{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.lover{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.magician{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}


.revolutionary{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.ruler{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}



.sage{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: White;
  font-size: 20px;
  font-family: verdana
}
